<div class="form-group mb-3" [formGroup]="queryForm">

  <input type="text" class="form-control" placeholder="Search" formControlName="query">


  <p *ngIf="queryForm.pending">
    Please wait ...
  </p>


  <ng-template *ngIf="queryForm.get('query'); then errorsRef"></ng-template>

  <!-- <form-messages [field]="queryForm.get('query')"></form-messages> -->

  <ng-template #errorsRef let-field>
    <ng-container *ngIf="field.touched || field.dirty">

      <div *ngIf="field.hasError('required')" class="error">
        Field is required
      </div>

      <div *ngIf="field.getError('censor') as error" class="error">
        Values containing {{error.badword}} are not allowed
      </div>

      <div *ngIf="field.getError('minlength') as error" class="error">
        {{error.requiredLength - error.actualLength}} more characters needed
      </div>
    </ng-container>
  </ng-template>

</div>


<!-- https://getbootstrap.com/docs/4.1/components/input-group/#button-addons -->
<!-- 
<div class="input-group-append">
  <button class="btn btn-outline-secondary">Search</button>
</div> -->
