/* :host ::ng-deep p{
  color: hotpink;
}
 */

:host-context(.pink-theme) p{
  color: hotpink;
}

:host(.active){
  display: block;
  border: 1px solid black;
}

.list-group-item {
  border-left: 10px solid;
}

/* <div [style.border-left]=" '10px solid' + playlist.color "  >*/