
      <!-- (mouseenter)="hover = playlist"
      (mouseleave)="hover = null"
      [style.border-left-color]="
        hover?.id == playlist.id? playlist.color : ''
      " -->


<div class="list-group">

  <div class="list-group-item" 
      [class.active]="playlist.id == selected?.id"
      (click)="select(playlist)"
 
      [appHighlight]="playlist.color"

      *ngFor="let playlist of playlists; index as i; 
      trackBy myTrackFn">
      
    {{i+1}}. {{playlist.name}}
  </div>

</div>
<!-- 
  {{ selected | json }}
 -->